.admin-page {
  margin-top: 90px;
}

.admin-page .button {
  display: inline-block;
  padding: 8px 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  border: 1px solid transparent;
  text-align: center;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.admin-page .edit-btn {
  margin: 0;
  width: auto;
  max-width: none;
  color: #fff;
  background-color: darkslateblue;
  border: 1px solid darkslateblue;
}

.admin-page .edit-btn:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.admin-page h2 {
  margin-bottom: 20px;
  font-size: 36px;
  text-align: center;
  color: var(--color-dark-red);
}

.menu-categories {
  margin: 0 auto;
  width: 90vw;
}

/* Table */
.admin-table {
  width: 90vw;
  margin: 15px auto;
  color: #212529;
}

.admin-table td,
.admin-table th {
  padding: 15px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.admin-table thead th {
  /* padding: 10px; */
  vertical-align: bottom;
  text-align: left;
  border-bottom: 2px solid #dee2e6;
}

.admin-page .btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}

.admin-page .btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.admin-link {
  color: darkslateblue;
  text-decoration: underline;
}

.admin-form {
  width: 50vw;
  min-width: 500px;
  margin: 20px auto;
}

.form fieldset {
  margin: 25px auto;
  padding: 20px;
  border-radius: 10px;
}

.form legend {
  font-size: 20px;
}

.admin-form input[type=text] {
  margin: 0 auto;
  padding: 10px;
  width: 70%;
  font-size: 16px;
  display: flex;
}

.admin-form .save-button {
  background: #1ec469;
  color: var(--color-white);
}

.admin-form .cancel-button {
  background: var(--color-light-grey);
}