.admin-product-details {
  width: 90vw;
  margin: 0 auto;
}

.admin-product-details h1 {
  font-size: 35px;
}

.admin-product-details .card {
  margin: 20px 0;
  height: 270px;
  width: 100%;
  flex-direction: row;
  background: slategrey;
  border-radius: 10px;
  overflow: hidden;
}

.admin-product-details img {
  max-width: 40vw;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.admin-product-details .pills {
  justify-content: initial;
}
