.admin-categories {
  max-width: 960px;
}

.admin-categories h1 {
  font-size: 37px;
  line-height: 45px;
  margin-bottom: 27px;
}

.category-items {
  margin-top: 40px;
}

.category-items h2 {
  text-align: center;
  font-size: 40px;
}