.home-page {
  margin: 74px auto 0;
}

.home-page .hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/home-hero.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.home-page h1 {
  margin: 0;
  font-size: 35px;
}

.view-link {
  margin-top: var(--space-medium);
  padding: 0 10px;
  font-size: 15px;
  max-width: max-content;
  font-weight: bold;
  color: var(--color-white);
  text-align: center;
  line-height: 50px;
  background: var(--color-dark-red);
}

/* Media queries */
@media (min-width: 1024px) {
  .home-page h1 {
    font-size: var(--font-size-ultra);
  }
  .home-page .subheader {
    font-size: 20px;
  }

  .view-link {
    font-size: 22px;
  }
}
